:root{
  /* Primary */
   --strong-cyan: hsl(172, 67%, 45%);

   /* Neutral */
   --very-dark-cyan: hsl(183, 100%, 15%);
   --dark-grayish-cyan: hsl(186, 14%, 43%);
   --dark-grayish-cyan2: hsl(184, 14%, 56%);
   --light-grayish-cyan: hsl(185, 41%, 84%);
   --light-grayish-cyan2: hsl(189, 41%, 97%);
   --white: hsl(0, 0%, 100%);

   /* Fonts */
   --ff: 'Space Mono';

}

*,
*::before,
*::after{
  box-sizing: border-box;
}
html{
  background:hsl(185, 41%, 84%); ;
  
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:stretch;
  font-family: var(--ff),sans-serif;
  font-size: 24px;
}

input:focus{
  outline: none;
}
button{
  border: none;
}
.container{
  background: var(--light-grayish-cyan);
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.container h3{
  color: var(--dark-grayish-cyan);
  font-size: 0.95rem;
  letter-spacing: 1.7px;
  line-height: 0.85;
}

.content-container{
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background:var(--white);
  
}

.content-container input {
  text-align: right;
  color: var(--very-dark-cyan);
  font-weight: 700;
  font-size: 1.3rem;
  font-family: var(--ff);
  border-radius: 5px;
  border: none;
}

.content-container input::placeholder {
  padding-right: 0.5em;
  font-family: var(--ff);
}

.content-container input:hover{
  cursor: pointer;
}

.content-container #bill, .content-container #people{
  width:95%;
  height: 2.3rem;
  background: url("images/icon-dollar.svg") no-repeat scroll 10px 8px;
  margin-bottom: 1rem;
  background-color: var(--light-grayish-cyan2);
}

.content-container #people{
  background: url("images/icon-person.svg") no-repeat scroll 10px 8px;
  background-color: var(--light-grayish-cyan2);
}


.content-container #bill:hover, .content-container #people:hover{
  border:3px solid var(--strong-cyan);
  border-radius: 5px;
}

.choosetip-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.7rem 0.1rem;
  justify-items: center;
  margin-bottom: 2rem;
}
#custom {
  text-align: center;
  border: none;
  background: var(--light-grayish-cyan2);
}

#custom:hover{
  border:3px solid var(--strong-cyan);
}
.choosetip-container .tip-container {
  width: 100%;
}

.choosetip-container .tip-container button{
  width:90%;
  height: 2.4rem;
  background: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: var(--ff),sans-serif;
}

.choosetip-container .tip-container input{
  width: 90%;
  height: 2.4rem;
  text-align: right;
  color: var(--very-dark-cyan);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 2px;
  border: 1px solid var(--light-grayish-cyan);
  padding-right: 0.5rem;
}

.choosetip-container .tip-container input:hover{
  border:3px solid var(--light-grayish-cyan);
}

.choosetip-container .tip-container button:hover{
  cursor:pointer;
  background:var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.result-container{
  background: var(--very-dark-cyan);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1.3rem;
}

.result-container p{
  color: var(--white);
  align-self: flex-start;
  font-size: 1rem;
  font-weight:700;
  letter-spacing: 1.5px;
}

.result-container span{
  color: var(--light-grayish-cyan);
  font-size: 1rem;
}

.result-container .button-reset{
  background: var(--strong-cyan);
  width: 95%;
  border-radius: 5px;
  text-align: center;
  color:var(--very-dark-cyan);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.8rem 0;
  grid-column: 1 / 3;
}

.result-container .button-reset:hover{
  cursor: pointer;
  background:hsl(172, 67%, 65%);
}

.result-container .total, .result-container .tip-amount{
  justify-self: flex-end;
  padding-right: 1rem;
  color: var(--strong-cyan);
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1.8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.choosetip-container .tip-container button.selected{
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}


.selection-container{
  position: relative;
}

.error{
  color: red;
  font-size: 0.7rem;
  text-align: right;
  padding-right: 1rem;
  position: absolute;
  right: 0;
  top: 19rem;
}
.attribution {
  display: none;
}

@media (min-width: 1100px){
  .content-container{ 
      flex-direction: row;
      margin-top: 2rem;
      border-radius: 20px;
  }

  .container{
      padding: 6rem;
      min-width:1000px;
      max-width: 1346px;
  }

  .selection-container{
      width:50%;
  }

  .result-container{
      width: 50%;
      margin-left: 2rem;
  }

  .result-container .button-reset{
      height: 3rem;
      margin-top: 6rem;
      width:100%;
  }

  .choosetip-container{
      grid-template-columns: 1fr 1fr 1fr;
  }

  .content-container #bill, .content-container #people{
      width:97%;
  }

  .result-container{
      padding-inline: 2rem;
  }
  .result-container p{
      font-size: 0.9rem;
      letter-spacing: 2.6px;
      line-height: 1.8;
  }

  .result-container span{
      font-size: 0.8rem;
  }
  
  .error{
      top: 15.8rem; 
  }
  .attribution {
    display: block;
    font-size: 2rem;
    text-align: center;
    position: fixed;
    align-self: flex-end;
    color: var(--very-dark-cyan);
    margin-bottom: 2em;
}
.attribution a{
  color: var(--very-dark-cyan);
}

}