* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  main {
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
    background: hsl(185, 41%, 84%);
    display: flex;
    align-items: center;
    justify-content: center;
}

  span{
    display: block;
}
input{
  width: 88%;
  height: 3rem;
  background: hsla(189, 0%, 96%, 1);
  border: none;
  border-radius: 0.5rem;
  font-family: 'Space Mono', monospace;
}
input::placeholder{
  font-size: 20px;
  padding-left: 1rem;
  
}
  .dashboard {
    background: white;
    min-height: 50vh;
    width: 55%;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
}
  .leftSide{
      flex:1.5;
      align-items: center;
      text-align: left;
      justify-content: space-evenly;
      flex-direction: column;
      padding-left: 2rem;
}
.leftSide h4{
  padding-bottom: 0.5rem;
}
  .rightSide{
      flex:1;
      background: hsl(183, 100%, 15%);
      border-radius: 2rem;
}

  .rightSide h4{
  color:whitesmoke
}

  .rightSide p{
  color: hsl(185, 41%, 84%)
}

  #reset{
  align-items: flex-end;
  margin-top: 3rem;
  height: 3rem;
  width: 20rem;
  border-radius: 0.5rem;
  background:  hsla(172, 67%, 64%, 1);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  color: hsl(183, 100%, 15%);
  border: none;
}

  .tipcalc{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem;
  gap: 5rem;
}
.bill{
  margin-bottom: 6rem;
}
.tips{
  margin-bottom: 6rem;
}
.tips button{
  background: hsl(183, 100%, 15%);
  width: 9.5rem;
  height: 3rem;
  color: whitesmoke;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 2em;
  font-weight: 700;
}