* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
  background: hsl(185, 41%, 84%);
  display: flex;
  align-items: center;
  justify-content: center;
}

span{
  display: block;
}
input{
  width: 92%;
  height: 3rem;
  background: hsla(189, 0%, 96%, 1);
  border: none;
  border-radius: 0.5rem;
  text-align: right;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: hsl(183, 100%, 15%);
}

input::placeholder{
  font-size: 20px;
  padding-left: 1rem;
  text-align: left;
  
  }
.dashboard {
  background: white;
  min-height: 50vh;
  width: 55%;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
}
.leftSide{
    flex:1.5;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 1rem;
}
.leftSide h4{
  padding-bottom: 1rem;
}
.rightSide{
    flex:1;
    background: hsl(183, 100%, 15%);
    border-radius: 2rem;
}

.rightSide h4{
  color:whitesmoke
}

.rightSide p{
  color: hsl(185, 41%, 84%)
}

.bill{
  margin-bottom: 3rem;
}

#billInput:focus{
  outline: solid 2.5px hsla(172, 67%, 64%, 1);
  border-radius: 0.5rem;
  }

.tips{
  margin-bottom: 3rem;

}

.tipButton{
  background: hsl(183, 100%, 15%);
  width: 9.5rem;
  height: 3rem;
  color: whitesmoke;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.tipButton:focus{
  background: hsla(172, 67%, 64%, 1);
  color: hsl(183, 100%, 15%);
}


.up{
  padding-bottom: 1rem;
  }

.peopleInput:focus{
  outline: solid 2.5px hsla(172, 67%, 64%, 1);
  border-radius: 0.5rem;
  }

#custom{
  background: hsla(189, 0%, 96%, 1);
  color: hsl(186, 14%, 43%);
  width: 9.5rem;
  height: 3rem;
  color: whitesmoke;
  border: none;
  font-family: 'Space Mono', monospace;
  font-size: 2em;
  font-weight: 700;
  
}

#custom:focus{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 2em;
  color: hsl(183, 100%, 15%);
  outline: solid 2.5px hsla(172, 67%, 64%, 1);
}

.tipCalc{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem;
}

.tipCalc span{
  padding-bottom: 1.5rem;
}

#tipAmount{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  color: hsla(172, 67%, 64%, 1);
  font-size: 3em;
}

#perPerson{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  color: hsla(172, 67%, 64%, 1);
  font-size: 3em;
}

#reset{
  align-items: flex-end;
  height: 3rem;
  width: 22rem;
  border-radius: 0.5rem;
  background:  hsla(172, 67%, 64%, 1);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  color: hsl(183, 100%, 15%);
  border: none;
}

#calculate{
  align-items: flex-end;
  height: 3rem;
  width: 22rem;
  border-radius: 0.5rem;
  background:  hsla(172, 67%, 64%, 1);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  color: hsl(183, 100%, 15%);
  border: none;
}

#reset:hover{
  background: hsl(189, 41%, 97%);
  transition:  0.5s;  
}

#calculate:hover{
  background: hsl(189, 41%, 97%);
  transition:  0.5s;  
}
#calculate:active{
  font-size: 17px;
  
}
#reset:active{
  font-size: 17px;
  
}